<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bullion Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='BULLION.ico') }}">

</head>
<body>
    <header>
        <h1>Welcome to Bullion</h1>
        <p>Your gateway to market insights</p>
    </header>
    <main>
        <section class="section">
            <h2>Explore</h2>
            <ul>
		<li><a href="{{ url_for('metals') }}">Metals Prices</a></li>
                <li><a href="{{ url_for('stocks') }}">Stock Market</a></li>
                <li><a href="{{ url_for('currency') }}">Currency Exchange Rates</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Bullion. All rights reserved.</p>
    </footer>
</body>
</html>

